body{
    background-color: #b0e0e6;
    margin:0px;
}

h3{
    color:rgb(15, 74, 116);
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}

table,tr,th,td{
    border-width: 1px;
    border-color: cyan;
    border-style: solid;
}

caption{
    text-align: left;

}

.gray{
    color: gray;
}
#header{
    position: sticky;
    top:80px;
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px 5px 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin:80px 100px 20px 100px;
}
#header .pages a{
    margin: 0 3px;
    padding: 5px;
    color: rgb(92, 110, 173);
}

#header .pages a:hover {
    padding: 8px;
    color:rgb(225, 55, 137);
}

#header p{
    padding: 5px;
    color: rgb(15, 74, 116);
}
h1{
    color:aliceblue;
    text-shadow: -3px 1px 3px rgb(160, 196, 196);
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin: 10px;
}

p{
    margin:0;
}